body, html{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: rgb(10,10,10);
    display: flex;
    flex-direction: row;
    align-items: center;
    & .logoCont{
        width: 150px;
    }
    & .logoCont img{
        width: 100%;
    }
}

main{
    height: 100%;
    background-color: bisque;
}